@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:rgba(0,0,0,.85);
    border-bottom:2px solid red;
} 

header h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav{
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:red;
}

body {
    background-image: url(imgs/It_2017.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
  display: flex;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 500;
  font-style: normal;
  justify-content: center;
  color: rgb(131, 5, 5);
  margin-top: 50px;
  margin-bottom: 30px;
}

h2 {
  display: flex;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 600;
  font-style: normal;
  justify-content: center;
  color: rgb(131, 5, 5);
  margin-bottom: 5px;
}

p {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: flex-start;
  margin-left:5%;
  margin-right:5%;
}

.Introducao {
  display: flex;
}

#coluna-direita {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 3%;
}

#coluna-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#poster {
  display: flex;
  width: 300px;
  height: auto;
  float: right;
  margin-right: 5%;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.estrela {
  color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}


.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 1s linear;
  opacity: 1;
  visibility: visible;
}

.backdrop video {
  width: 100%;
}

.dados {
  margin-left:5%;
  margin-right:5%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  border-radius: 20px;
  border: 2px solid rgb(131, 5, 5);
}

.TitulosCriterios {
  display: flex;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 600;
  font-style: normal;
  justify-content: flex-start;
  color: rgb(131, 5, 5);
  margin-left:5%;
  margin-right:5%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.CriteriosAvaliacao {
  border-radius: 20px;
  border: 2px solid rgb(131, 5, 5);
  margin-left:5%;
  margin-right:5%;
}

video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 1;
        animation: transicao 1s ease 3s forwards;
    }
@keyframes transicao {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }
