@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:rgba(0,0,0,.85);
    border-bottom:2px solid red;
} 

header h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav{
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:red;
}

body {
    background-image: url(imgs/It_2017.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin-left:5%;
    margin-right:5%;
}

h1 {
  display: flex;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 500;
  font-style: normal;
  justify-content: center;
  color: rgb(131, 5, 5);
}

h2 {
  display: flex;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 600;
  font-style: normal;
  justify-content: center;
  color: rgb(131, 5, 5);
}

p {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: flex-start;
}

.Introducao {
  display: flex;
}

#poster {
  display: flex;
  width: 300px;
  height: auto;
  float: right;
  margin-left: 15px;
  justify-content: flex-end;
}

.estrela {
  color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}


.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 1s linear;
  opacity: 1;
  visibility: visible;
}

.desaparecido {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 1s linear, visibility 1s linear;
}

.backdrop video {
  width: 100%;
}
