*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

::selection {
  background-color: rgb(153, 31, 31);
}

#logo {
  height: 1.2em;
  width: auto;
  margin-right: 5px;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:rgba(0,0,0,.85);
    border-bottom:2px solid red;
} 

header h1 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav{
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a.atual {
  background-color: rgb(250, 15, 15);
  padding: 5px 10px;
}

nav a:hover{
    color:red;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

main h1 {
    width: 100%;
}

.colunas {
    display: flex;
}

.coluna-esquerda {
    display: flex;
    flex-direction: column;
    width: 36%;
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-left: auto;
    margin-right: 4%;
}
p{
    font-size: 18px;
    text-align: justify;
}

body{
    margin-left:5%;
    margin-right:0;
    background-image: url("imgs/backgroundp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: white;
    font-family: "Unbounded", sans-serif;
}
p strong{
    color: white;
}

.dados, .fatura, .avaliacao, .sinopse{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: lightgray;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    text-align: justify;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;

}
.estrela{
    color: yellow;
}
h2{
    font-family: 'Nosifer', sans-serif;
    color: white;
    font-size: 40px;
}
h3 {
    font-family: 'Unbounded', sans-serif;
    color: white;
    font-size: 20px;
}

.poster{
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 20px;
  border: 2px solid lightgray;
}
.ind{
  width: 13%;
  height: auto;
  margin-bottom: 0px;
  float: left;
  padding: 5px;
}
.classificacao p{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: lightgray;
}
video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 1;
        animation: transicao 1s ease 3s forwards;
    }
@keyframes transicao {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

@media (max-width: 768px){

    header{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    nav{
        justify-content:center;
        flex-wrap:wrap;
    }

    .colunas {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px
    }

    .coluna-direita, .coluna-esquerda {
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }
}

@media (max-width: 480px){

    header h1{
        font-size:1.5rem;
    }
}
