body{
    margin-left:5%;
    margin-right:5%;
    background-color: black;
}
h1{
    color: white;
    font-family: "Unbounded", sans-serif;
}

.sinopse {
  font-family: "Montserrat", sans-serif;
  font-weight: 30;
  font-style: normal;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.estrela{
    color: yellow;
}
h2{
    color: white;
    font-family: "Unbounded", sans-serif;
}
.poster{
    width: 300px;
    height: auto;
    float: right;
    margin-left: 15px;
}
