body{
    text-align: center;
    margin-left:5%;
    margin-right:5%;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}
